.center {
    text-align: center;
}

.card {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 15px;
    background-color: #f58093;
    width: 30%;
    margin: auto;
}

.card p{
    color: white;
    padding: 10px;
}